.parallax-stars-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  pointer-events: none;
  opacity: 0.5;
}

#stars,
#stars2,
#stars3 {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
}

#stars {
  width: 1px;
  height: 1px;
  animation: animStar 80s linear infinite;
  opacity: 0.6;
}

#stars::after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: inherit;
}

#stars2 {
  width: 1px;
  height: 1px;
  animation: animStar 120s linear infinite;
  opacity: 0.4;
}

#stars2::after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: inherit;
}

#stars3 {
  width: 2px;
  height: 2px;
  animation: animStar 180s linear infinite;
  opacity: 0.3;
}

#stars3::after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: inherit;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
